version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: pg_ext
    environment:
      POSTGRES_USER: appuser # логин
      POSTGRES_PASSWORD: strongpass # пароль
      POSTGRES_DB: appdb
      TZ: UTC
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 30
    restart: unless-stopped
